.text{
    resize: vertical ;
    white-space: pre-wrap;
}
.fom{
    background-color: rgb(212, 51, 51);
    border-radius: 25px;
   margin: 10px;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(255, 255, 255);
    
}
.mon{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.non{
  border-radius: 25px;
  border: none;
   padding: 5px;
}

.but{
    background-color: rgb(255, 255, 255);
    border: rgb(212, 51, 51) solid 2px;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}